{{ template "layout" . }}

{{ define "content" }}




<table style="border: 1px solid black;">
    <tr style="border: 1px solid black;">
        <th style="border: 1px solid black;">No</th>
        <th style="border: 1px solid black;">ID</th>
        <th style="border: 1px solid black;">Name</th>
        <th style="border: 1px solid black;">Price</th>
        <th style="border: 1px solid black;">Stock</th>
        <th style="border: 1px solid black;">Status</th>
        <th style="border: 1px solid black;">Action</th>
    </tr>

    {{ range $indexKey, $value := . }}
    
    <tr >
        <td>{{$indexKey}}</td>
        <td>{{$value.ID}}</td>
        <td>{{$value.Name}}</td>
        <td>{{$value.Price}}</td>
        <td>{{$value.Stock}}</td>
        <td>{{ .StockStatus }}</td>
        <td>
            <a href="javascript::void(0)">click ON</a>
        </td>
        
    </tr>


    {{ end }}
    
</table>


{{ end }}